.avatar-wrraper {
  position: absolute;
  bottom: -50px;
  left: 15px;
  width: 160px;
  height: 160px;
  padding: 8px;
}

.avatar-wrraper > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: white;
  border: 4px solid white;
}
