.latest-activity-container {
  padding: 22.5px;
}

.latest-activity-container > .title {
  font-size: 18.75px;
  font-weight: 600;
  padding-bottom: 8px;
}

/* latest-activity item */

.latest-activity {
  display: flex;
  gap: 16px;
}

.latest-activity > .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

/* latest-activity-title, subtitle*/
.latest-activity-title {
  font-size: 16px;
  font-weight: 600;
}

.latest-activity-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 16px;
}

/* latest-activity-list */
.latest-activity-list-container {
  padding: 8px 8px 16px;
}

.latest-activity-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.latest-activity-list > li {
  font-size: 14px;
  font-weight: 400;
}
