@import "tailwindcss";
@import "tw-animate-css";

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(315deg, #660a43 0%, #0a1242 100%);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
